/* ///// Site Configuration ///// */
    /* ///// Global Defaults ///// */
    .container {
      display: block;
      max-width: 100%!important;
      height: 100%;
      min-height: 100%;
      background-color: grey;
    }

    .row {
      display: grid;
    }

    .head {
      background-color: rgba(170, 189, 181, 0.86);
    }

    .active {
      display: block;
    }

    .inactive {
      display: none;
    }

    .text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.14285714rem;
      max-width: 700px!important;
      line-height: 1.5;
    }

    .admin-login-link {
      margin-left: auto;
    }

    @media screen and (max-width: 768px) {
      .container {
        width: auto!important;
        margin-left: 1em!important;
        margin-right: 1em!important;
        background-color: #2F66A8;
      }
    }

    @media screen and (min-width: 769px) and (max-width: 991px) {
      .container {
        width: 723px;
        margin-left: auto!important;
        margin-right: auto!important;
      }
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .container {
        width: 933px;
        margin-left: auto!important;
        margin-right: auto!important;
      }
    }

    @media screen and (min-width: 1200px) {
      .container {
        width: 1127px;
        margin-left: auto!important;
        margin-right: auto!important;
      }
    }

/* ///// View Component Styles ///// */

    /* ///// Splash ///// */
    .splash {
      display: flex;
      flex-direction: column;
      background-color: rgb(196, 196, 196);
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
      background-color:  #506175;
    }

    .image {
      max-width: 100%;
      text-align: center;
      margin-top: 30px;
      background-color:  rgb(240, 240, 240);
      padding-top: 10px;
      background: rgb(80,97,117);
      background: linear-gradient(0deg, rgba(80,97,117,1) 0%, rgba(47,102,168,1) 100%);
    }

    .fsocket-logo {
      width: 100%;
      max-width: 500px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
    }

    .room-list-container {
      width: 100%;
      text-align: center;
    }
    
    .room-list {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .room-list > div {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      background: rgba(41,184,229,1) 50%;
      -webkit-box-shadow: 1px -2px 14px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px -2px 14px 2px rgba(0,0,0,0.75);
      box-shadow: 1px -2px 14px 2px rgba(0,0,0,0.75);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      }

    .room-details {
      height: 80px;
      width: 80%;
      cursor: pointer;
      background-color: #7AB6FF; 
      -webkit-box-shadow: 1px -2px 8px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px -2px 8px 2px rgba(0,0,0,0.75);
      box-shadow: 1px -2px 8px 2px rgba(0,0,0,0.75);
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .room-details:hover {
      background-color: rgba(255, 247, 212, 0.86);
    }

    .room-details:active {
      background-color: rgba(222, 255, 133, 0.86);
    }

    .room-description > div {
      z-index: 90;
    }

    @media screen and (min-width: 769px) {
      .room-details {
        width: 100%;
        max-width: 100%;
        height: min-content;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;

      }
      .inner-room-details {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        margin-left: 5%;
        margin-right: 5%;
      }
      .room-list {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: rgba(41,184,229,1) 50%;
        -webkit-box-shadow: 1px -2px 14px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px -2px 14px 2px rgba(0,0,0,0.75);
        box-shadow: 1px -2px 14px 2px rgba(0,0,0,0.75);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .room-list > div {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        background: rgba(41,184,229,1) 50%;
        box-shadow: none;
        border-radius: 0px;
        display: block;
        flex-direction: none;
        }
      .room-list-head {
        width: 100%!important;
        display: block!important;
        max-width: 100%!important;
        padding: 0!important;
        margin: 0!important;
        background-color: black!important;
        border-radius: 0px!important;
        box-shadow: none!important;
        color: white; 
      }
      .inner-room-list-head {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }
    /* ///// Room ///// */

    .room-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 40% 20% 40%;
    }

    .room-footer {
      width: 100%;
      height: 20px;
      background-color: black;
      position: relative;
      bottom: 0px;
    }
    .room-playlist {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      background: #11325C;
      font-family: Bitwise;
      font-size: 16px;
    }

    .room-play-list-row-head {
      display: grid;
      grid-template-columns: 70% 15% 15%;
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,.20) 0%, rgba(230,200,206,0) 100%);
      color: #fcfcfc;
    }

    .room-play-list-row {
      display: grid;
      grid-template-columns: 70% 15% 15%;
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,.20) 0%, rgba(230,200,206,0) 100%);
      color: #fcfcfc;
      cursor: pointer;
    }

    .playlist-grid-item {
      text-align: center;
      padding: 5px;
    }

    .playlist-grid-header-item {
      text-align: center;
      background-color: black;
      color: #fcfcfc;
    }

    .youtube-video-player-container {
      margin-top: 30px;
    }
    .youtube-video-player-container > div {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .youtube-video-player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .chat-window {
      display: flex;
      flex-direction: column;
      background-color: #2F66A8;
      height: 100%;
      min-height: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .messages {
      width: 100%;
      height: 100%;
      background-color: white;
      -webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.75);
      box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.75);
      overflow-y: scroll;
      overflow-anchor: none;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .user-message {
      word-wrap: break-word;
    }

    #anchor {
      overflow-anchor: auto;
      height: 1px;
    }

    .message-form {
      width: 100%;
      margin-bottom: 10px;
    }

    td.room-location {
      text-align: center;
    }

    td.room-name {
      text-align: center;
    }

    td.room-users-count {
      text-align: center;
    }

    .message-send {
      width: 80%;
      height: 30px;
      padding-left: 5px;
      padding-right: 5px;
      -webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.75);
      box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.75);
    }

    @media screen and (min-width: 500px) {
      .room-container {
        grid-template-rows: 40% 30% 30%;
      }
    }
    @media screen and (min-width: 769px) {
      .room-container {
        grid-template-columns: 70% 30%;
        grid-template-rows: 60% 40%;
      }

      .chat-window {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        padding-top: 30px;
      }

      .room-playlist {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .youtube-video-player-container {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
      }
    }

    /* ///// Admin ///// */
    .admin-panel {
      display: flex;
      flex-direction: column;
      background-color: rgb(196, 196, 196);
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 30px;
    }

    .admin-container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .admin-row {
      grid-template-columns: 30% 30% 30%;
      grid-gap: 2.5%;
    }

    /* ///// Modal ///// */
    .modal {
      position: absolute;
      z-index: 1000; /* Try to make sure its always on top */
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.86);
    }
    
    .modal-form {
      width: 50vw;
      margin-top: 40vh;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      background-color: #11325C;
      border-radius: 10px;
    }

    /* ///// New Host Modal ///// */
    .new-host-modal {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.86);
      z-index: 200;
      display: flex;
      flex-direction: column;
    }
    .show-host-modal {
      display: block;
    }
    .hide-host-modal {
      display: none;
    }

    .selectNewHostFooter {
      width: 100%;
      height: 100px;
      position: relative;
      bottom: 100px;
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .host-member-list-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    .host-modal-member-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 320px;
      height: 100%;
      max-height: 70vh;
      align-items: center;
      background-color: rgba(41,184,229,1);
    }

    .host-modal-member-list-item {
      background-color: white;
      width: 200px;
      text-align: center;
      padding: 5px;
      border: 2px solid black;
      border-radius: 10px;
      margin-bottom: 6px;
    }

    .host-modal-current-host {
      border-color: red;
    }

    /* ///// Footer ///// */

    .em {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 8pt;
    }

    .primary-footer-legal-container {

    }

    .footer-contact-info-container {
      text-align: center;
    }

    .footer-copy-row {
      padding: 10px;
      width: 100%;
      text-align: center;
    }

    .footer-logo-row {
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    .primary-footer {
      background: linear-gradient(180deg, rgb(83, 160, 248) 0%, rgb(230, 200, 206) 100%);
      -webkit-box-shadow: 1px -2px 14px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px -2px 14px 2px rgba(0,0,0,0.75);
      box-shadow: 1px -2px 14px 2px rgba(0,0,0,0.75);
      display:  flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 350px;
      width: 100%;
      position: relative;
    }

    @media screen and (min-width: 769px) { 

    }

    /* ///// Inputs ///// */
    .modal-inputs {
      height: 40px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border-radius: 3px;
    }

    /* ///// Buttons ///// */

    .standard-button {
      outline: none;
      width: 100px;
      height: 30px;

      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 10px;

      background: rgba(41,184,229,1) 50%;

      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.86);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.86);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.86);

      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
      border: 1px solid f1f1f1;
    }

    .create-new-room:hover {
      background: rgb(186, 239, 255) 50%;
    }

    .create-new-room:active {
      background: rgb(246, 255, 194) 50%;
      border: 1px solid white;
    }

    .leave-room-button {
      width: 100px;
      height: 20px;
    }

    .close-room-button {
      width: 100px;
      height: 20px;
    }

    .change-room-host-button {
      width: 100px;
      height: 20px;
    }

    .room-nav-buttons {
      cursor: pointer;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    .room-nav-buttons:hover {
      background-color: rgb(230, 200, 206);
    }

    .send-message-button {
      outline: none;
      width: 20%;
      height: 30px;
    }
